{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categorias</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Biblioteca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'inicio' %}">inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'libros' %}">libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'autores' %}">autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'categorias' %}">categorias</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row my-4">
    <div class="col-lg-12">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categorias/Genero</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Ficción</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Crítica literaria</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Ficción juvenil</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Novela</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Terror</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Política</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Historia</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    



  






  





    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>