{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>libros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
  </head>
  <body>
      <header>
          <h1 class="site-heading text-center text-faded d-none d-lg-block">
             
              <span class="site-heading-lower">BIBLIOTECA</span>
          </h1>
      </header>
      <nav class="navbar navbar-expand-lg navbar-wait" style="background-color: rgb(122, 94, 10);">
        <div class="logo">
          <img class="icon" src="{% static 'img/logoo.png' %}" alt="Logo">
        </div>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'inicio' %}">inicio <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'libros' %}">libros</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'autores' %}">autores</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'categorias' %}">categorias</a>
                  </li>
              </ul>
          </div>
      </nav>
  

        <div class="container">
            <h1 class="my-4">Lista de Libros</h1>
            <button id="btn-cargar" class="btn btn-primary mb-4">Cargar Libros</button>
            <div id="spinner"></div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Año</th>
                        <th>Autor</th>
                        <th>Género</th>
                        <th>Portada</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tabla">
                    <!-- Filas de libros serán añadidas aquí -->
                </tbody>
            </table>
        </div>
    
        <!-- Modal para la descripción -->
        <div class="modal fade" id="modalDescripcion" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Descripción del Libro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="descripcionLibro">
                <!-- Descripción del libro -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>